
.container-slider{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 98%;
    height:100%;
   
}

#carouselExampleIndicators{
    display: flex;
    justify-content: center;
    width:50%;
    height:10% ;
    
}
.carousel-control-prev-icon {
    background-color: black;
    width: 3em;
    
}
.carousel-control-next-icon {
    background-color: black;
    width: 3em;
}

.d-block{ 
    margin-top: 1em;
 
    padding:1em;
    width: 100%;
    height:23em;
    border-radius:3em;
    border: 6px white solid;
    box-shadow: 1px 2px 3px ;
}